@import "./component/index";
@import "./utilities/index";
@import "./grid";
@import "./variables";
@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: FireSans, sans-serif;
  overflow: hidden;
}

button,
input,
textarea,
select {
  outline: none;
  box-shadow: none;
}

h1 {
  text-align: center;
  position: absolute;
  left: 50px;
  top: 50px;
  color: #fff;
  text-shadow: 0 4px 5px royalblue;
}

img {
  max-width: 100%;
}
